@using System.Globalization;
@model Projet

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = $"Détails sur le projet {Model.Name}";

}

@section Content{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mt-4 mb-5">
                            <div class="d-inline-block" id="logo-tour">
                                <div class="auth-logo">
                                    <div class="logo logo-light">
                                        <span class="logo-lg">
                                            <img src="https://www.instakotlin.com/wp-content/uploads/2019/05/Cover3-2.png" alt="" height="120">
                                        </span>
                                    </div>

                                    <div class="logo logo-dark">
                                        <span class="logo-lg">
                                            <img src="https://www.instakotlin.com/wp-content/uploads/2019/05/Cover3-2.png" alt="" height="120" >
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Information sur le projet</h4>

                                        <div class="row">
                                            <div class="col-sm-9">
                                                <h3 id="heading-title-tour">Libelle</h3>
                                                <p class="text-muted">
                                                   @Model.Name
                                                </p>

                                                <div class="clearfix"></div>

                                                <h3>Description</h3>
                                                <p class="text-muted">
                                                   @Model.Description
                                                </p>
                                                
                                                <div class="clearfix"></div>

                                                <h3>Lien</h3>
                                                <p class="text-muted">
                                                    <a href="@Model.Lien">
                                                       @Model.Lien
                                                  </a>
                                                </p>

                                                <div class="clearfix"></div>

                                                <h3>Date ajout</h3>
                                                <p class="text-muted">
                                                    Ajouté le @Model.DateAjout.ToString("dddd le dd MMMM yyyy", CultureInfo.GetCultureInfo("Fr-fr"))
                                                </p>
                                                
                                                <div class="clearfix"></div>

                                                <h3>Catégorie</h3>
                                                <p class="text-muted">
                                                    @ViewBag.Categorie.Libelle
                                                </p>

                                                <div class="clearfix"></div>

                                                <h3>Etat</h3>
                                                <p class="text-muted">
                                                  @switch(Model.Etat){
                                                      case 0 : {
                                                          <div>
                                                              Nouveau
                                                          </div>
                                                      }
                                                            break;
                                                      case 2 : {
                                                          <div>
                                                             Terminé
                                                          </div>
                                                      }
                                                            break;
                                                      case 3 : {
                                                          <div>
                                                              En cours
                                                          </div>
                                                      }
                                                            break;
                                                        default:
                                                      {
                                                        
                                                      }
                                                            break;
                                                    }
                                                </p>
                                                @if(@Model.Note != ""){
                                                    <div class="clearfix"></div>
                                                    <h3>Note</h3>
                                                    <p class="text-muted">
                                                        @Model.Note
                                                    </p>
                                                }


                                            </div>
                                            <!-- end col-->
                                        </div> <!-- end row-->
                                    </div>
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-4">Aspect et fonctionnalités</h4>

                                        <div class="row">
                                            <div class="col-sm-9">
                                                <div class="tab-content pt-0" id="v-pills-tabContent">
                                                    <div class="tab-pane fade active show" id="aspect" role="tabpanel" aria-labelledby="v-pills-home-tab2">
                                                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                                            <div class="carousel-inner">
                                                                @{
                                                                    var ressources = ViewBag.Ressources as List<Ressource>;
                                                                }
                                                                @foreach (Ressource item in ressources)
                                                                {
                                                                    if(ressources.IndexOf(item) == 0){
                                                                        <div class="carousel-item active text-center d-flex justify-content-center">
                                                                            <img class="d-block img-fluid" width="180" src="@item.Lien" alt="@item.Libelle">
                                                                        </div>
                                                                    }else{
                                                                        <div class="carousel-item d-flex justify-content-center">
                                                                            <img class="d-block img-fluid" src="@item.Lien" alt="@item.Libelle">
                                                                        </div>

                                                                    }
                                                                }
                                                            </div>
                                                            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                <span class="visually-hidden">Previous</span>
                                                            </a>
                                                            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
                                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                <span class="visually-hidden">Next</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="fonctionnalite" role="tabpanel" aria-labelledby="v-pills-profile-tab2">
                                                        <p>
                                                            <div class="">
                                                                <ul class="list chat-list mb-0" style="max-height: 413px;" data-simplebar>
                                                                    
                                                                    @foreach (Feature feature in ViewBag.Features)
                                                                   {   
                                                                    <li>
                                                                        <a>
                                                                            <div class="d-flex">
                                                                                <div class="flex-grow-1 overflow-hidden">
                                                                                    <h5 class="text-truncate font-14 mt-0 mb-1">@feature.Libelle</h5>
                                                                                  @*  <p class="text-truncate mb-0">I've finished it! See you so...</p>*@
                                                                                </div>
                                                                                @*<div class="font-11">
                                                                                  ddkjj
                                                                                </div>*@
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                   }
                                                                </ul>
                                                            </div>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div> <!-- end col -->
                                            <div class="col-sm-3">
                                                <div class="nav flex-column nav-pills nav-pills-tab" id="v-pills-tab2" role="tablist" aria-orientation="vertical">
                                                    <a class="nav-link active show mb-1" id="v-pills-home-tab2" data-bs-toggle="pill" href="#aspect" role="tab" aria-controls="aspect"
                                                   aria-selected="true">
                                                        Aspect Visuel
                                                    </a>
                                                    <a class="nav-link mb-1" id="v-pills-profile-tab2" data-bs-toggle="pill" href="#fonctionnalite" role="tab" aria-controls="fonctionnalite"
                                                   aria-selected="false">
                                                        Fonctionnalités
                                                    </a>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row-->
                                    </div>
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>


                        <div class="text-center mt-5">
                            <a asp-action="UpdateProjet" asp-controller="Admin" asp-route-id=@Model.Id class="btn btn-info waves-effect waves-light" 
                            id="thankyou-tour">Modifier</a>
                            <a class="btn btn-danger waves-effect waves-light" id="thankyou-tour" data-bs-toggle="modal" data-bs-target="#deleteModal">Supprimer</a>
                        </div>

                    </div> <!-- end card-box -->
                </div>

            </div> <!-- end col -->
        </div>
        <!-- end row-->
        <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content modal-filled bg-danger">
                    <div class="modal-body">
                        <div class="text-center">
                            <i class="dripicons-wrong h1 text-white"></i>
                            <h4 class="mt-2 text-white">Confirmer la suppression</h4>
                            <p class="mt-3 text-white">
                                Vous confirmer vouloir supprimer le projet @Model.Name ?
                            </p>
                            <a asp-action="ProjetDelete" asp-controller="Admin" asp-route-id=@Model.Id
                           type="button" class="btn btn-light my-2">Oui</a>
                            <button type="button" class="btn btn-info my-2" data-bs-dismiss="modal">Non</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

    </div>
}

    @section Scripts{
    <script>
        function ValidateForm() {
            document.getElementById("MyForm").submit();
        }


    </script>
}